body {
	background: #E9E9E9;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

a {
	color: #EA9999;
	text-decoration: none;
	font-weight: bold;
	&:hover {
		color: #000;
		text-decoration: underline;
	}
}

#content {
	margin-top: 75px;
}

.well{
	max-width: 330px;
	margin: 0 auto;
}

.todoList {
	list-style: outside none none;
	margin: 0;
	padding: 0;
	li {
		padding: 5px 10px;
		border-bottom: 1px dotted #ccc;
		line-height: 25px;
		&.active {
			background-color: grey;
		}
		.todoDate {
			float: right;
			padding-right: 10px;
		}
		button {
			line-height: 25px;
		}
	}
}

.form-group {
	.todoNameField {
		width: 320px;
	}
	.todoDateField {
		width: 150px;
	}
	.todoDescriptionField {
		width: 500px;
	}
}

.navbar-login
{
    width: 280px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.user-icon{
		width: 50px;
}

.user-small-icon{
		width: 30px;
		padding: 0 5px;
}

.navbar{
		padding: 0 15px;
}

.navbar-collapse{
		padding: 0 15px !important; 
}

.icon-size
{
    font-size: 87px;
}