body {
  background: #E9E9E9;
  font-family: 'Helvetica Neue', Helvetica, sans-serif; }

a {
  color: #EA9999;
  text-decoration: none;
  font-weight: bold; }
  a:hover {
    color: #000;
    text-decoration: underline; }

#content {
  margin-top: 75px; }

.well {
  max-width: 330px;
  margin: 0 auto; }

.todoList {
  list-style: outside none none;
  margin: 0;
  padding: 0; }
  .todoList li {
    padding: 5px 10px;
    border-bottom: 1px dotted #ccc;
    line-height: 25px; }
    .todoList li.active {
      background-color: grey; }
    .todoList li .todoDate {
      float: right;
      padding-right: 10px; }
    .todoList li button {
      line-height: 25px; }

.form-group .todoNameField {
  width: 350px; }
.form-group .todoDateField {
  width: 150px; }
.form-group .todoDescriptionField {
  width: 500px; }
